{% extends 'base.html' %}

{% block content %}

<div class="background-tint">
    <img src="../static/images/front.jpg" class="u-relative" alt="Background Image">
</div>

<div class="homepageContainer">
    <div class="homeLogo">
        <h1>Ivy</h1>
    </div>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    <div class="homepageBody">
        <div class="welcomeTxt">
            <p class="h1 text-center">Welcome to Ivy's Personal Blog Post</p>
            <p class="h4 text-center">Join me while i talk about novels that i have read</p>
        </div>

        <div class="getStarted">
            <a href="{{ url_for('login') }}"><button type="button" class="btn text-center getStartedBtn btn-outline-warning">Get Started</button></a>
        </div>
    </div>


</div>

{% endblock %}