{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Blog Post</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ url_for('view_posts') }}">Posts</a>
                <a class="nav-link" href="{{ url_for('random_quotes') }}">Random Posts</a>
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="user">
    Logged in as: {{ username }}
</div>


<form action="/posts" method="POST">


    <div class="container">
        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">

                {{wtf.quick_form(posts_form)}}


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</form>


{% endblock %}

